@{
    ViewData["Title"] = "Welcome";
    var clientId = ViewData["ClientId"];
    var redirectUri = Context.Request.Host + "/Budget";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This simple app provides you with a way to view your monthly budget
        using the formula laid out in the amazing book "Your Money or Your Life"
        by Vicki Robin and Joe Dominguez
    </p>
    <form>
       <div class="form-group">
            <p class="lead">If you would like to use this App, please authorize with YNAB!</p>
            <button onclick="authorizeWithYNAB" class="btn btn-primary">Authorize This App With YNAB &gt;</button>
          </div>`
    </form>
</div>
<script>
  function authorizeWithYNAB(e) {
    e.preventDefault();
    const uri = `https://app.youneedabudget.com/oauth/authorize?client_id=@clientId&redirect_uri=@redirectUri&response_type=token`;
    location.replace(uri);
  }
</script>
