@using YNAB.SDK;
@using YNAB.SDK.Model;
@model IEnumerable<BudgetSummary>;
@{
  ViewData["Title"] = "Choose a Budget";
  var accessToken = ViewData["AccessToken"];
}

<div class="container">
  <div class="list-group">
    @foreach(var budget in @Model) {
      <a href="Budget/@budget.Id?access_token=@accessToken&currency_symbol=@budget.CurrencyFormat.CurrencySymbol" class="list-group-item list-group-item-action">@budget.Name</a>
    }
  </div>

</div>
